//Custom Fonts
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

//Variable Decelerations
$primary-color: #339989;
$primary-accent: #7de2d1;
$primary-text: #131515;
$text-accent: #2b2c28;
$white: #fffafb;
$source-code-font: "Open Sans", sans-serif;
$open-sans-font: "Source Code Pro", monospace;

// General Styling
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: $primary-text;
  font-family: $source-code-font;
}

//Custom Scrollbar
/* width */
::-webkit-scrollbar {
  width: 0%;
}

.navbar {
  margin: 0;
  background-color: $primary-color;
  color: $white;
  padding: 1rem 5vw;
  .title {
    margin: 0;
  }
}

.work-area {
  width: 100vw;
  height: calc(100vh - 60px);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-card {
  width: 95%;
  height: 90%;
  display: flex;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.24);
}
.markdown-edit,
.markdown-preview {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.section-title {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 1rem;
  height: 2.5rem;
  width: 100%;
  background-color: green;
  text-transform: uppercase;
  h3 {
    font-weight: 600;
    margin: 0;
  }
}

.markdown-edit {
  width: 100%;
  textarea {
    background-color: $white;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2rem;
    font-family: $source-code-font;
    width: 100%;
    resize: none;
    height: 100%;
  }
}

.markdown-preview {
  width: 100%;
  .html-div {
    background-color: $white;
    margin-top: 2rem;
    overflow-y: scroll;
  }
}

.gutter {
  height: 100% !important;
  width: 10px !important;
  cursor: col-resize;
  background-color: #444857;
}

@media screen and (max-width: 600px) {
  .wrapper-card {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .markdown-edit,
  .markdown-preview {
    width: 100% !important;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .gutter {
    height: 10px !important;
    width: 100% !important;
    cursor: row-resize;
  }
}

@media screen and (min-width: 600px) {
  .markdown-edit,
  .markdown-preview {
    height: 100% !important;
  }
}
