//Custom Fonts
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

//Variable Decelerations
$primary-color: #339989;
$primary-accent: #7de2d1;
$primary-text: #24292e;
$text-accent: #2b2c28;
$white: #fff;
$gray: #eaecef;
$dark-gray: #e1e4e8;
$source-code-font: "Source Code Pro", monospace;
$open-sans-font: "Open Sans", sans-serif;

// General Styling
* {
  box-sizing: border-box;
}

body {
  background-color: $white;
  margin: 0;
  color: $primary-text;
  font-family: $open-sans-font;
}

::-webkit-scrollbar {
  width: 0%;
}

.btn {
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.4rem 1rem;
  font-weight: 600;
  border-radius: 0.2rem;
  color: $white;
  background-color: $primary-color;
  border: none;
  transition: filter 200ms ease;
  margin: 0 0.5rem;
  &:hover {
    filter: brightness(1.1);
  }
  &:focus {
    outline: none;
    filter: brightness(0.9);
  }
}

.navbar {
  margin: 0;
  background-color: $primary-color;
  color: $white;
  height: 60px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .title {
    user-select: none;
    margin: 0;
    line-height: 30px;
    display: flex;
    align-items: center;
    img {
      height: 30px;
    }
  }
  .github {
    cursor: pointer;
    height: 30px;
    transition: filter 100ms linear;
    &:hover {
      filter: brightness(0.9);
    }
  }
}

.work-area {
  width: 100vw;
  height: calc(100vh - 60px);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-card {
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.24);
}
.markdown-edit,
.markdown-preview {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.section-title {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 0 1rem;
  height: 2.5rem;
  width: 100%;
  background-color: $primary-accent;
  color: $text-accent;
  text-transform: uppercase;
  user-select: none;
  h3 {
    font-weight: 600;
    margin: 0;
    opacity: 0.8;
  }
  right-section {
    height: 100%;
  }
  a {
    text-transform: none;
    text-decoration: none;
  }
}

.markdown-edit {
  width: 100%;
  textarea {
    border: none;
    background-color: $white;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2rem;
    font-family: $source-code-font;
    width: 100%;
    resize: none;
    height: 100%;
    &:focus {
      outline: none;
    }
  }
}

.markdown-preview {
  width: 100%;
  .html-div {
    background-color: $white;
    margin-top: 2rem;
    overflow-y: scroll;
  }
}

.gutter {
  height: 100% !important;
  width: 10px !important;
  cursor: col-resize;
  background-color: #444857;
}

//HTML Styling for preview
.html-div {
  p {
    margin: 0 0 1rem;
    line-height: 1.5;
  }
  a {
    color: $primary-color;
    text-decoration: none;
    &:hover {
      filter: brightness(1.2);
    }
  }
  hr {
    border: none;
    height: 3px;
    margin: 24px 0;
    background-color: $dark-gray;
  }
  pre {
    padding: 1rem;
    width: 100%;
    overflow: auto;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  code {
    font-family: $source-code-font;
  }

  li + li {
    margin-top: 0.25em;
  }
  blockquote {
    border-left: 5px solid $dark-gray;
    padding-left: 1rem;
  }
  img {
    max-width: 100%;
  }
  h1 {
    margin: 1.5rem 0 1rem;
    line-height: 1.33;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eaecef;
  }
  h2 {
    margin: 1.5rem 0 1rem;
    line-height: 1.33;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eaecef;
  }
  h3 {
    margin: 1.5rem 0 1rem;
    line-height: 1.33;
  }
  h4 {
    margin: 1.5rem 0 1rem;
    line-height: 1.33;
  }
  table {
    border-collapse: collapse;
    margin: 1.5rem 0.5rem;
  }

  th,
  td {
    border: 1px solid #ddd;
    text-align: left;
    text-align: center;
    padding: 8px 20px;
  }

  tr:nth-child(even) {
    background-color: $gray;
  }

  th {
    background-color: $primary-color;
    color: white;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 12.5px;
  }
  .wrapper-card {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .markdown-edit,
  .markdown-preview {
    padding: 1rem 1.3rem;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .gutter {
    height: 10px !important;
    width: 100% !important;
    cursor: row-resize;
  }
}

@media screen and (min-width: 600px) {
  .markdown-edit,
  .markdown-preview {
    height: 100% !important;
  }
}
